VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_SUPABASE_URL=https://ltmbliusizokulbbpgir.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_CLOUD_API_URL=https://tomatophotobooth.vercel.app
